In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
data = pd.read_csv("Tweets.csv")
df = data.copy()
df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [4]:
def missing_values_table(df):    
        mis_val = df.isnull().sum()        
        mis_val_percent = 100 * df.isnull().sum() / len(df)        
        type_column = df.dtypes        
        mis_val_table = pd.concat([mis_val, mis_val_percent, type_column], axis=1)        
        mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values', 2:'type_column'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

def lineplot(x_data, y_data, x_label="", y_label="", title=""):
    # Create the plot object
    _, ax = plt.subplots()

    # Plot the best fit line, set the linewidth (lw), color and
    # transparency (alpha) of the line
    ax.plot(x_data, y_data, lw = 2, color = '#539caf', alpha = 1)

    # Label the axes and provide a title
    ax.set_title(title)
    ax.set_xlabel(x_label)
    ax.set_ylabel(y_label)
    
def barplot(x_data, y_data, error_data = "", x_label="", y_label="", title=""):
    _, ax = plt.subplots()
    # Draw bars, position them in the center of the tick mark on the x-axis
    ax.bar(x_data, y_data, color = '#539caf', align = 'center')
    # Draw error bars to show standard deviation, set ls to 'none'
    # to remove line between points
    # ax.errorbar(x_data, y_data, yerr = error_data, color = '#297083', ls = 'none', lw = 2, capthick = 2)
    ax.set_ylabel(y_label)
    ax.set_xlabel(x_label)
    ax.set_title(title)

In [5]:
missing_values_table(data)

Your selected dataframe has 15 columns.
There are 7 columns that have missing values.

                           Missing Values  % of Total Values type_column
negativereason_gold                 14608               99.8      object
airline_sentiment_gold              14600               99.7      object
tweet_coord                         13621               93.0      object
negativereason                       5462               37.3      object
user_timezone                        4820               32.9      object
tweet_location                       4733               32.3      object
negativereason_confidence            4118               28.1     float64

In [6]:
df = df.drop(["negativereason_gold","airline_sentiment_gold","tweet_coord"], axis=1)
'''
for i, row in info_about_data.iterrows():
    
    column = data[row.name].value_counts() 
    info_column = {'key':  column.index,'value': column.values}
    df_info_column = pd.DataFrame(info_column, columns = ['key','value'])

    total_value = data[i].count()
    nb_missing = data.shape[0] - total_value 
    
    percentage = []
    value_to_replace = []
    
    for key, row in df_info_column.iterrows():
        per = round((row['value'] * 100 ) / total_value)
        percentage.append(per)

        to_replace =  round((per * nb_missing) / 100 ) 
        value_to_replace.append(to_replace)

    df_info_column['percentage'] = percentage
    df_info_column['to_replace'] = value_to_replace
    # prizm_social_one,  prizm_social_one, area, marital
'''

"\nfor i, row in info_about_data.iterrows():\n    \n    column = data[row.name].value_counts() \n    info_column = {'key':  column.index,'value': column.values}\n    df_info_column = pd.DataFrame(info_column, columns = ['key','value'])\n\n    total_value = data[i].count()\n    nb_missing = data.shape[0] - total_value \n    \n    percentage = []\n    value_to_replace = []\n    \n    for key, row in df_info_column.iterrows():\n        per = round((row['value'] * 100 ) / total_value)\n        percentage.append(per)\n\n        to_replace =  round((per * nb_missing) / 100 ) \n        value_to_replace.append(to_replace)\n\n    df_info_column['percentage'] = percentage\n    df_info_column['to_replace'] = value_to_replace\n    # prizm_social_one,  prizm_social_one, area, marital\n"

In [7]:
df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline', 'name',
       'retweet_count', 'text', 'tweet_created', 'tweet_location',
       'user_timezone'],
      dtype='object')

In [8]:
'''
feature = df['airline_sentiment'].value_counts()
print(feature.values)
barplot(feature.index, feature.values, x_label="", y_label="", title='airline_sentiment') 
'''

'\nfeature = df[\'airline_sentiment\'].value_counts()\nprint(feature.values)\nbarplot(feature.index, feature.values, x_label="", y_label="", title=\'airline_sentiment\') \n'

In [9]:
# columns = df.columns

In [10]:
#data_info = missing_values_table(df)
#data_info

In [11]:
'''
for index, row in data_info.iterrows() :
    if index == "negativereason_confidence":
        
        feature = data[index].value_counts()
        print(feature.index)
        lineplot(feature.index, feature.values, x_label="", y_label="", title = index) 
'''

'\nfor index, row in data_info.iterrows() :\n    if index == "negativereason_confidence":\n        \n        feature = data[index].value_counts()\n        print(feature.index)\n        lineplot(feature.index, feature.values, x_label="", y_label="", title = index) \n'

In [12]:

#df_ = pd.DataFrame({'lab':data['negativereason'].value_counts().index , 'val':data['negativereason'].value_counts().values })
#ax = df_.plot.bar(x='lab', y='val', rot=0)
#print(data['negativereason'].value_counts().index)

In [13]:
# feature = df['negativereason'].value_counts()

In [14]:
# lineplot(feature.index, feature.values,x_label="", y_label="", title="cc")
# data['negativereason'].value_counts().head(30).plot(kind='barh', figsize=(6,10))

In [15]:
#for i in range(10):
#    print(df['text'][i])

In [16]:
# replace missing values

In [17]:
# import sys
# from sklearn.preprocessing import Imputer
# from impyute.imputation.cs import fast_knn
# sys.setrecursionlimit(100000) #Increase the recursion limit of the OS

# start the KNN training
# imputed_training=fast_knn(data.values, k=30)

In [18]:
df = df.drop(["user_timezone","tweet_location", "tweet_created", "retweet_count","negativereason_confidence","negativereason_confidence", "negativereason","airline_sentiment_confidence","name", ],axis=1)
# df = df.drop(["tweet_id", "name"], axis=1)

In [19]:
# df = df.drop(["tweet_id", "name"], axis=1)

In [20]:
df = df.drop(["airline"], axis=1)

In [21]:
df

,tweet_id,airline_sentiment,text
0,570306133677760513,neutral,@VirginAmerica What @dhepburn said.
1,570301130888122368,positive,@VirginAmerica plus you've added commercials t...
2,570301083672813571,neutral,@VirginAmerica I didn't today... Must mean I n...
3,570301031407624196,negative,@VirginAmerica it's really aggressive to blast...
4,570300817074462722,negative,@VirginAmerica and it's a really big bad thing...
...,...,...,...
14635,569587686496825344,positive,@AmericanAir thank you we got on a different f...
14636,569587371693355008,negative,@AmericanAir leaving over 20 minutes Late Flig...
14637,569587242672398336,neutral,@AmericanAir Please bring American Airlines to...
14638,569587188687634433,negative,"@AmericanAir you have my money, you change my ..."
14639,569587140490866689,neutral,@AmericanAir we have 8 ppl so we need 2 know h...

In [22]:
# construction matrice 
tweets = pd.DataFrame(df["text"])
tweets

                                                    text
0                    @VirginAmerica What @dhepburn said.
1      @VirginAmerica plus you've added commercials t...
2      @VirginAmerica I didn't today... Must mean I n...
3      @VirginAmerica it's really aggressive to blast...
4      @VirginAmerica and it's a really big bad thing...
...                                                  ...
14635  @AmericanAir thank you we got on a different f...
14636  @AmericanAir leaving over 20 minutes Late Flig...
14637  @AmericanAir Please bring American Airlines to...
14638  @AmericanAir you have my money, you change my ...
14639  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 1 columns]

In [23]:
# tokomize 
# construre MDT 
#from nltk.tokenize import TweetTokenizer
#tknzr = TweetTokenizer()
#tknzr.tokenize( tweets["text"][0] )

In [24]:
# change all uppercase to lowercase
tweets['text'] = [ e.lower() for e in tweets['text'] ]
tweets['text']

0                      @virginamerica what @dhepburn said.
1        @virginamerica plus you've added commercials t...
2        @virginamerica i didn't today... must mean i n...
3        @virginamerica it's really aggressive to blast...
4        @virginamerica and it's a really big bad thing...
                               ...
14635    @americanair thank you we got on a different f...
14636    @americanair leaving over 20 minutes late flig...
14637    @americanair please bring american airlines to...
14638    @americanair you have my money, you change my ...
14639    @americanair we have 8 ppl so we need 2 know h...
Name: text, Length: 14640, dtype: object

In [25]:
# Tokonize 
# break into set of word  
from nltk.tokenize import word_tokenize
tweets['text'] = [ word_tokenize(i) for i in tweets['text'] ]

In [26]:
tweets['text']

0           [@, virginamerica, what, @, dhepburn, said, .]
1        [@, virginamerica, plus, you, 've, added, comm...
2        [@, virginamerica, i, did, n't, today, ..., mu...
3        [@, virginamerica, it, 's, really, aggressive,...
4        [@, virginamerica, and, it, 's, a, really, big...
                               ...
14635    [@, americanair, thank, you, we, got, on, a, d...
14636    [@, americanair, leaving, over, 20, minutes, l...
14637    [@, americanair, please, bring, american, airl...
14638    [@, americanair, you, have, my, money, ,, you,...
14639    [@, americanair, we, have, 8, ppl, so, we, nee...
Name: text, Length: 14640, dtype: object

In [28]:
# Stop Word 

from nltk.corpus import stopwords 
# from nltk.tokenize import word_tokenize 
  
example_sent = "This is a sample sentence, showing off the stop words filtration."
  
stop_words = set(stopwords.words('english')) 
  
word_tokens = word_tokenize(example_sent) 
 
filtered_sentence = [w for w in word_tokens if not w in stop_words] 
  
filtered_sentence = [] 
  
for w in word_tokens: 
    if w not in stop_words: 
        filtered_sentence.append(w) 
        
print(word_tokens) 
print(filtered_sentence) 

from nltk.stem import WordNetLemmatizer
from nltk import pos_tag

from collections import defaultdict
from nltk.corpus import wordnet as wn

['This', 'is', 'a', 'sample', 'sentence', ',', 'showing', 'off', 'the', 'stop', 'words', 'filtration', '.']
['This', 'sample', 'sentence', ',', 'showing', 'stop', 'words', 'filtration', '.']

In [29]:
tag_map = defaultdict(lambda : wn.NOUN) # ???
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV

# enumerate reurn string with index 
# https://www.geeksforgeeks.org/enumerate-in-python/
for i,e in enumerate( tweets['text'] ):
    
    # Declaring Empty List to store the words that follow the rules for this step
    list_words = []
    
    # Initializing WordNetLemmatizer()
    # https://www.geeksforgeeks.org/python-lemmatization-with-nltk/
    word_Lemmatized = WordNetLemmatizer()
    
    # Applications of lemmatization are:
    # Used in comprehensive retrieval systems like search engines.
    # Used in compact indexing
    
    # Lemmatization : Lemmatization is the process of grouping together the different inflected forms of a word so they can be analysed as a single item 
    
    # pos_tag function below will provide the 'tag' i.e if the word is Noun(N) or Verb(V) or something else.
    
    # https://www.nltk.org/book/ch05.html
    # tag 
    for word, tag in pos_tag(e):
        
        # Below condition is to check for Stop words and consider only alphabets
        # stopword.word https://www.geeksforgeeks.org/removing-stop-words-nltk-python/
        # word.isalpha https://www.geeksforgeeks.org/python-string-isalpha-application/
        if word not in stopwords.words('english') and word.isalpha():
            word_Final = word_Lemmatized.lemmatize(word,tag_map[tag[0]])
            list_words.append(word_Final)
    # The final processed set of words for each iteration will be stored in 'text_final'
    tweets.loc[i,'text_final'] = str(list_words)

In [30]:
tweets

,text,text_final
0,"[@, virginamerica, what, @, dhepburn, said, .]","['virginamerica', 'dhepburn', 'say']"
1,"[@, virginamerica, plus, you, 've, added, comm...","['virginamerica', 'plus', 'add', 'commercial',..."
2,"[@, virginamerica, i, did, n't, today, ..., mu...","['virginamerica', 'today', 'must', 'mean', 'ne..."
3,"[@, virginamerica, it, 's, really, aggressive,...","['virginamerica', 'really', 'aggressive', 'bla..."
4,"[@, virginamerica, and, it, 's, a, really, big...","['virginamerica', 'really', 'big', 'bad', 'thi..."
...,...,...
14635,"[@, americanair, thank, you, we, got, on, a, d...","['americanair', 'thank', 'get', 'different', '..."
14636,"[@, americanair, leaving, over, 20, minutes, l...","['americanair', 'leave', 'minute', 'late', 'fl..."
14637,"[@, americanair, please, bring, american, airl...","['americanair', 'please', 'bring', 'american',..."
14638,"[@, americanair, you, have, my, money, ,, you,...","['americanair', 'money', 'change', 'flight', '..."
14639,"[@, americanair, we, have, 8, ppl, so, we, nee...","['americanair', 'ppl', 'need', 'know', 'many',..."